[Unit]
Description=Repository Mirroring Tool
Requires=mysql.service
Requires=rmt-server-migration.service
Requires=rmt-server.service

[Install]
WantedBy=multi-user.target
