[Unit]
Description=RMT API server
Requires=mysql.service
Requires=rmt-migration.service
After=rmt-migration.service

[Service]
Type=forking
User=_rmt
WorkingDirectory=/srv/www/rmt
ExecStart=/srv/www/rmt/bin/rails server -e production --daemon
ExecStop=/usr/bin/kill -INT cat$(/srv/www/rmt/tmp/pids/server.pid)
PIDFile=/srv/www/rmt/tmp/pids/server.pid
Restart=always

[Install]
WantedBy=rmt.target
