[Unit]
Description=Synchronize RMT with SCC
After=rmt-server.service
Wants=rmt-server.service

[Service]
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
Type=simple
Restart=no
Environment="LOG_TO_JOURNALD=1" "LANG=en"
ExecStart=/usr/share/rmt/bin/rmt-cli sync

[Install]
WantedBy=multi-user.target
