[Unit]
Description=RMT Uptime Data cleanup timer

[Timer]
# Run this timer every day at a randomized 24h delay.
OnCalendar=weekly
RandomizedDelaySec=24h

[Install]
WantedBy=timers.target
