[Unit]
Description=RMT Mirror timer

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=9h
Unit=rmt-server-mirror.service

[Install]
WantedBy=multi-user.target
