[Unit]
Description=Sync RMT systems to SCC timer

[Timer]
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=3h
Unit=rmt-server-systems-scc-sync.service

[Install]
WantedBy=multi-user.target
