[Unit]
Description=RMT Sync timer
After=rmt-server.service
Requires=rmt-server.service

[Timer]
OnCalendar=*-*-* 01:00:00
Unit=rmt-server-sync.service

[Install]
WantedBy=multi-user.target
