[Unit]
Description=RMT Sync timer
After=rmt.service
Requires=rmt.service

[Timer]
OnCalendar=*-*-* 01:00:00
Unit=rmt_sync.service

[Install]
WantedBy=multi-user.target
