[Unit]
Description=RMT Mirror timer
After=rmt.service
Requires=rmt.service

[Timer]
OnCalendar=*-*-* 02:00:00
Unit=rmt-server-mirror.service

[Install]
WantedBy=multi-user.target
