[Unit]
Description=Mirror RMT
After=rmt.service
Requires=rmt.service

[Service]
Type=simple
Restart=no
Environment=LOG_TO_JOURNALD=1
ExecStart=/usr/share/rmt/bin/rmt-cli mirror

[Install]
WantedBy=multi-user.target
