[Unit]
Description=RMT API server
Requires=mysql.service
Requires=rmt-migration.service
Requires=nginx.service
After=rmt-migration.service

[Service]
Type=simple
User=_rmt
PrivateTmp=yes
Environment=LOG_TO_JOURNALD=1
WorkingDirectory=/usr/share/rmt
ExecStart=/usr/share/rmt/bin/rails server -e production
Restart=always

[Install]
WantedBy=multi-user.target
